*{
    margin: 0;
    padding: 0;
}
/* Change the color of the selected text */
::selection {
    background-color: white;
    color: #0e0d0d; 
}

/* For Firefox compatibility */
::-moz-selection {
    background-color: #0e0d0d; 
    color: white; 
}
html{
    height: 100vh;
    width: 100vw;
}
body {
    font-family: 'Cascadia Code', monospace;
    /* Additional styling for the body element */
    padding: 1.5px;
  }
.main{
    height: 100vh;
    width: 100vw;
    background-color: #0e0d0d;
}
p{
    color: white;
    font-weight: bold;
}
.input{
    display: flex;
    height: 20px;
    align-items: center;
}
.input input{
    background-color: #0e0d0d;
    outline: none;
    border: none;
    color-scheme: dark;
    width: 90%;
    caret-color: white;
    font-weight: bold;
    padding: 0px 2.5px;
}
.cursor{
    width: 10px;
    height: 2px;
    background-color: white;
}
.msg{
    height: 10px;
    width: 95%;
    margin: 9px 0px;
    
}