*{
    margin: 0;
    padding: 0;
}
html{
    height: 100vh;
    width: 100vw;
}
body {
    font-family: 'Cascadia Code', monospace;
    /* Additional styling for the body element */
  }
.main{
    height: 100vh;
    width: 100vw;
    background-color: #0e0d0d;
}
p{
    color: white;
    font-weight: bold;
}
.input{
    display: flex;
    height: 20px;
    align-items: center;
}
.input input{
    background-color: #0e0d0d;
    outline: none;
    border: none;
    color-scheme: dark;
    width: 90%;
    caret-color: white;
    font-weight: bold;
}
input::before {
    content: '\00a0'; /* Non-breaking space to create a visual element */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px; /* Adjust the width to control thickness */
    height: 1.2em; /* Adjust the height to control length */
    background-color: blue; /* Replace with your desired color */
}
.cursor{
    width: 10px;
    height: 2px;
    background-color: white;
}
.msg{
    height: 10px;
    width: 90%;
    margin: 10px 0px;
}