*{
    margin: 0;
}
.header-icon{
    display: flex;
    justify-content: center;
}
.header-icon .icon {
    height: 150px;
    width: 350px;
}
.navigation-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    height: 10vh;
    color: white;
    min-height: 50px;
    border: none;
    opacity: 1;
    width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    position: fixed;
}
a{
    color: white;
    list-style: none;
    text-decoration: none;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 50px;
    align-items: center;
}
.navbar ul li{
    display: flex;
    margin: 0px 25px;
    padding: 5px;
}
body{
    height: 150vh;
}
