/*Summarize*/
#inputtext,#outputtext{
    resize: none;
    border-radius: 5px;
}

.step{
    list-style: none;
    font-weight: normal;
}

/*Login and register css*/
/*Body*/
body{
    height: 100vh;
    width: 99vw;
    background-color: rgba(0, 0, 0, .1);
}
.body-wrapper{
    display:flex ;
    align-items: center;
    justify-content: center;
}
/*new Body code*/
.inner-body-wrapper{
    height: 55vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    opacity: 0.9;
}
.input-group input{
    padding: 10px 10px;
    min-width: 15vw;
    max-width: 27vw;
    width: 25vw;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid #cbcbcb;
}
.login-btn{
    margin-top: 30px;
    height: 37px;
    width: 200px;
    border: none;
    border-radius: 50px;
    /*background: linear-gradient(to right, 
    blue, violet);*/
    /*background: linear-gradient(to right, #ff9999, #66ccff);*/
    background: linear-gradient(to right, #3498db, #1abc9c);
    color: white;
}
.login-text{
    font-size: 35px;
    font-weight: 600;
}
.text{
    font-size: 13px;
}
.text-2{
    font-size: 15px;
    color: rgb(99, 99, 99);
    margin-top: 30px;
}
.signup-btn{
    margin-top: 8px;
    height: 37px;
    width: 100px;
    border: none;
    border-radius: 50px;
    /*background: linear-gradient(to right, #3498db, #1abc9c);*/
    color: white;
    background: linear-gradient(to right, #ff6f61, #ffcc5c);
}

/*Sign up*/
.inner-body-wrapper{
    height: 70vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    opacity: 0.9;
}
.input-group input{
    padding: 10px 10px;
    min-width: 15vw;
    max-width: 30vw;
    width: 25vw;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid #cbcbcb;
}
.login-btn{
    margin-top: 8px;
    height: 37px;
    width: 100px;
    border: none;
    border-radius: 50px;
    /*background: linear-gradient(to right, 
    blue, violet);*/
    /*background: linear-gradient(to right, #ff9999, #66ccff);*/
    background: linear-gradient(to right, #3498db, #1abc9c);
    color: white;
}
.register-text{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}
.text{
    font-size: 13px;
}
input{
    margin: 7px 0px;
}
.text-2{
    font-size: 15px;
    color: rgb(99, 99, 99);
    margin-top: 25px;
    margin-bottom: 15px;
}
.signup-btn{
    margin-top: 8px;
    height: 37px;
    width: 200px;
    border: none;
    border-radius: 50px;
    /*background: linear-gradient(to right, #3498db, #1abc9c);*/
    color: white;
    background: linear-gradient(to right, #ff6f61, #ffcc5c);
}

/*community page*/
#write-comment{
    height: 150px;
    width: 700px;
    resize: none;
    padding: 10px;
}

.community-btn{
    display: flex;
    justify-content: center;
}
.comments{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.comment-no{
    margin: auto;
    height: 150px;
    width: 700px;
    background-color: red;
    padding: 10px;
}

/*Contact us*/

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    text-align: center;
}

.form-title {
    color: #333;
}

.form-description {
    color: #666;
    margin-bottom: 20px;
}

.form {
    display: grid;
    grid-gap: 20px;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

.input,
.textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.2s;
}

.textarea{
    resize: none;
}

.input:focus,
.textarea:focus {
    border-color: #28a745;
}

/*.button {
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}*/

.button{
    width: 100px;
}

.button:hover {
    background-color: #218838;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    .form {
        grid-template-columns: 1fr;
    }
}
