*{
    margin: 0;
    padding: 0;
}
html{
    height: 100vh;
    width: 100vw;
}
body{
    height: 100vh;
    width: 100vw;
}
.body{
    height: 100vh;
    width: 100vw;
}
.body-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.slider{
    display: flex;
    overflow-x: scroll;
    width: 720px;
    object-fit: cover;
}
.slider img{
    object-fit: cover;
}