/*font sizes*/
*{
    margin: 0;
}
.font-size-60px{
    font-size: 60px;
}
.font-size-55px{
    font-size: 55px;
}
.font-size-50px{
    font-size: 50px;
}
.font-size-45px{
    font-size: 45px;
}
.font-size-40px{
    font-size: 40px;
}
.font-size-35px{
    font-size: 35px;
}
.font-size-30px{
    font-size: 30px;
}
.font-size-25px{
    font-size: 25px;
}
.font-size-20px{
    font-size: 20px;
}
.font-size-15px{
    font-size: 15px;
}
.fw-normal{
    font-weight: normal;
}
/*text decoration*/
.u{
    text-decoration: underline;
}
.i{
    font-style: italic;
}
.b{
    font-weight: 700;
}
.center{
    text-align: center;
}
.p-w{
    width: 10px;
}
.p{
    padding:0px 50px;
}
.ps{
    padding:0px 25px;
}
.pl{
    padding:0px 100px;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
.ptop{
    padding-top: 25px;
}
.pbot{
    padding-bottom: 25px;
}
.mtop{
    margin-top: 50px;
}
.mbot{
    margin-bottom: 50px;
}
.mstop{
    margin-top: 25px;
}
.msbot{
    margin-bottom: 25px;
}
.black{
    color: black;
}
.fw-normal{
    font-weight: normal;
}
.flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.mauto{
    margin: auto;
}