*{
    margin: 0;
    padding: 0;
}

.form-wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body{
    height: 100%;
    width: 100%;
}
.body{
    background-color: #333;
    border-radius: 5px;
    color:white;
    font-weight: 400;
    /*margin-bottom: 25px;*/
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    width:85vw;
    opacity: 0.8;
    margin: auto;
}
input{
    width: 15vw;
    max-width: 20vw;
    height: 25px;
    padding-left:5px;
    border-radius: 5px;
    border-bottom: white;
}
.btn{
    display: flex;
    justify-content: center;
}
#submit{
    height: 30px;
    width: 60px;
    border-radius: 2px;
}