/*font sizes*/
.font-size-50px{
    font-size: 50px;
}
.font-size-45px{
    font-size: 45px;
}
.font-size-40px{
    font-size: 40px;
}
.font-size-35px{
    font-size: 35px;
}
.font-size-30px{
    font-size: 30px;
}
.font-size-25px{
    font-size: 25px;
}
.font-size-20px{
    font-size: 20px;
}
.font-size-15px{
    font-size: 15px;
}
/*text decoration*/
.u{
    text-decoration: underline;
}
.i{
    font-style: italic;
}
.b{
    font-style: bold;
}
.center{
    text-align: center;
}
.pxs{
    padding: 0px 10px;
}
.px{
    padding:0px 50px;
}
.pxl{
    padding:0px 100px;
}
a:hover{
    text-decoration: underline;
}
.ps{
    padding: 10px;
}
.pm{
    padding: 50pxs;
}
.pl{
    padding: 100px;
}
.flex{
    display: flex;
}
.border{
    border: 1px solid black;
}
.pys{
    padding: 10px 0px;
}
.pym{
    padding: 50px 0px;
}
.pyl{
    padding: 100px 0px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.ptop{
    padding-top: 50px;
}
.pbot{
    padding-bottom: 50px;
}
.pstop{
    padding-top: 25px;
}
.psbot{
    padding-bottom: 25px;
}
.mtop{
    margin-top: 50px;
}
.mbot{
    margin-bottom: 50px;
}
.mstop{
    margin-top: 25px;
}
.msbot{
    margin-bottom: 25px;
}

/*Colours*/
.black{
    color: black;
}
.gold{
    color: gold;
}
.white{
    color: white;
}
