.outerbox{
    display: flex;
    border: solid black 3px;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box1{
    height: 200px;
    width: 200px;
    background-color: red; 
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    height: 25vh;
    align-self: flex-e;
}
.box2{
    height: 200px;
    width: 200px;
    background-color: blue; 
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3{
    height: 200px;
    width: 200px;
    background-color: green; 
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    height: 25vh;
}
.box4{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border: 1px solid black; 
    margin: 2px;
    padding: 2px;
    height: 25vh;
}
.innerbox{
    height: 2vh;
    width: 2vw;
    background-color: brown;
    border: 0.5px solid pink;
    display: none;
}
/*WHEN USING THE FLEXBOX WE MAY HAVE SOME ISSUES IN THE RESPONSIVENESS OF THE WEBSITE. SUCH AS, WHEN THE SITE IS VIEWED IN SPECIFIC PHONES, THE FLEXBOXES MAY BECOME THINNER AND THINNER WHICH MIGHT CAUSE A BAD USER EXPERIENCE. HENCE THE flex-wrap PROPERTY IS USED.*/
.btn
{
    display: flex;
    justify-content: center;
    align-items: center;
}