
.container1{
    background-color: re;
    color: green;
    
    margin: 0px ;
    padding: 0px ;
    border: 0px dotted black;
    border-radius: 9px;
}
/*margin collapse*/
.container2{
    color: purple;
    background-color: aqua;
    
    width: 100%;
    margin: 0px ;
    padding: 0px 0px ;
    /*border: 5px dotted black;*/
    border-radius: 9px;
    
    text-align: right;
}
.abc{
    text-transform: capitalize  ;
    text-decoration: underline;
}